<table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ entity.companyName }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ entity.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ entity.activity }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Update</th>
                <td>{{ entity.updated }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ entity.file }}</td>
            </tr>
        </tbody>
    </table>