{% extends 'ArdemisMainBundle::base_sass.html.twig' %}


{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Job'}, 'ArdemisMainBundle') }}
{% endblock %}

{% block content %}
    <div class="well well-lg">
        <h1>Offre d'emploi : {{ entity.id }}</h1>

        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.publishedat'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.id }}</span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.createdat'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span
                                class="input-xlarge uneditable-input">{{ entity.createdAt|date('d-m-Y H:i') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.publishedat'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span
                                class="input-xlarge uneditable-input">{{ entity.publishedAt|date('d-m-Y H:i') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.published'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.published }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.startat'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span
                                class="input-xlarge uneditable-input">{{ entity.startAt|date('d-m-Y H:i') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.expireat'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span
                                class="input-xlarge uneditable-input">{{ entity.expireAt|date('d-m-Y H:i') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.title'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.title }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.job'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.job }}</span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.income'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.income }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.technologies'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span
                                class="input-xlarge uneditable-input">{{ entity.technologies }}</span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.grade'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.grade }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.position'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.position }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.summary'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.summary }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'views.form.label.description'|trans({}, 'ArdemisMainBundle') }}</label>

                    <div class="form-control" style="height: inherit;"><span
                                class="input-xlarge uneditable-input">{{ entity.description }}</span></div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('offres') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'ArdemisMainBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('offres_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'ArdemisMainBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
