{% extends 'ArdemisMainBundle::base_sass.html.twig' %}

{% block head_style %}

    {{ parent() }}

    {% stylesheets
    '@ArdemisMainBundle/Resources/public/css/bootstrap-datetimepicker.min.css'
    %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
    {{ form_javascript(form) }}
{% endblock %}

{% block content %}
<div class="col-sm-12">
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Candidat'}, 'ArdemisMainBundle') }}
            </h3>
        </div>

        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('candidate') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'ArdemisMainBundle') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}

    {% javascripts
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function(){

            $('[data-provider="datepicker"]').datetimepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'fr',
                minView: 'month',
                pickerPosition: 'bottom-left',
                todayBtn: true,
                startView: 'month'
            });

            $('[data-provider="datetimepicker"]').datetimepicker({
                autoclose: true,
                format: 'dd/mm/yyyy hh:ii',
                language: 'fr',
                pickerPosition: 'bottom-left',
                todayBtn: true
            });

            $('[data-provider="timepicker"]').datetimepicker({
                autoclose: true,
                format: 'hh:ii',
                formatViewType: 'time',
                maxView: 'day',
                minView: 'hour',
                pickerPosition: 'bottom-left',
                startView: 'day'
            });

            // Restore value from hidden input
            $('input[type=hidden]', '.date').each(function(){
                if($(this).val()) {
                    $(this).parent().datetimepicker('setValue');
                }
            });

        });
    </script>
{% endblock foot_script_assetic %}